<admin-modal #$modal>
    <ng-container role="modal-title">
        <admin-icon [options]="{ size: 16, shape: 'warning-standard', clazz: 'is-warning' }"></admin-icon>
        {{'common.confirm'|translate}}
    </ng-container>
    <ng-container role="modal-body">
        <p class="error active" [innerHTML]="error?.message|nl2br" *ngIf="error"></p>
        <p class="p3">{{getPageText('content.1')}}</p>
    </ng-container>
    <ng-container role="modal-footer">
        <admin-button (click$)="$modal?.close()" [options]="{ type: 'button', clazz: 'btn btn-outline' }">
            {{'common.cancel'|translate}}
        </admin-button>
        <admin-button (click$)="onSubmit()" [options]="{ type: 'button', clazz: 'btn btn-primary' }"
            [disabled]="hasFormError">
            {{'common.confirm'|translate}}
        </admin-button>
    </ng-container>
</admin-modal>

<ng-container>
    <admin-card-layout>
        <ng-container role="header">
            <ng-container [ngTemplateOutlet]="$header"></ng-container>
        </ng-container>
        <ng-container role="description">
            <ng-container [ngTemplateOutlet]="$description"></ng-container>
        </ng-container>
        <ng-container role="title">
            <ng-container [ngTemplateOutlet]="$title"></ng-container>
        </ng-container>
        <ng-container role="text">
            <ng-container [ngTemplateOutlet]="$text"></ng-container>
        </ng-container>
        <ng-container role="footer">
            <ng-container [ngTemplateOutlet]="$footer"></ng-container>
        </ng-container>
    </admin-card-layout>
</ng-container>


<ng-template #$header>
    {{getPageText('header')}}
</ng-template>

<ng-template #$description>
    <p class="p8">{{getPageText('description')}}</p>
</ng-template>

<ng-template #$title>
    <p class="p2">{{getPageText('title')}}</p>
</ng-template>

<ng-template #$text>
    <form clrForm autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="clr-row">
            <div class="clr-col-12" *ngIf="error">
                <div class="error active" [innerHTML]="error?.message|nl2br"></div>
            </div>
            <div class="clr-col-12 hidden">
                <clr-select-container>
                    <label class="" for="pageType">{{'common.pageType'|translate}}</label>
                    <select clrSelect id="pageType" name="pageType" formControlName="pageType"
                        [compareWith]="defaultCompareWith" readonly required>
                        <option *ngIf="!hasRouteParamsId" [ngValue]="null">{{'common.pleaseSelect'|translate}}</option>
                        <option *ngFor="let pageType of pageTypes" [ngValue]="pageType">
                            {{pageType|pageType:'translate'}}
                        </option>
                    </select>
                    <clr-control-helper>{{'validation.hint.select'|translate}}</clr-control-helper>
                    <clr-control-error>
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('pageType'))">
                            {{'validation.messages.required'|translate}}
                        </ng-container>
                    </clr-control-error>
                </clr-select-container>
            </div>
            <div class="clr-col-12 hidden">
                <clr-select-container>
                    <label class="" for="locale">{{'common.locale'|translate}}</label>
                    <select clrSelect id="locale" name="locale" formControlName="locale"
                        [compareWith]="defaultCompareWith" readonly required>
                        <option *ngIf="!hasRouteParamsId" [ngValue]="null">{{'common.pleaseSelect'|translate}}</option>
                        <option *ngFor="let locale of locales" [ngValue]="locale">{{locale|locale:'translate'}}
                        </option>
                    </select>
                    <clr-control-helper>{{'validation.hint.select'|translate}}</clr-control-helper>
                    <clr-control-error>
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('locale'))">
                            {{'validation.messages.required'|translate}}</ng-container>
                    </clr-control-error>
                </clr-select-container>
            </div>
            <div class="clr-col-12 hidden">
                <clr-select-container>
                    <label class="" for="status">{{'common.status'|translate}}</label>
                    <select clrSelect id="status" name="status" formControlName="status"
                        [compareWith]="defaultCompareWith" readonly required>
                        <option *ngIf="!hasRouteParamsId" [ngValue]="null">{{'common.pleaseSelect'|translate}}</option>
                        <option *ngFor="let status of statuses" [ngValue]="status">{{status|status:'translate'}}
                        </option>
                    </select>
                    <clr-control-helper>{{'validation.hint.select'|translate}}</clr-control-helper>
                    <clr-control-error>
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('status'))">
                            {{'validation.messages.required'|translate}}
                        </ng-container>
                    </clr-control-error>
                </clr-select-container>
            </div>

            <div class="clr-col-12 hidden">
                <clr-select-container>
                    <label class="clr-sr-only" for="content">{{'common.content'|translate}}</label>
                    <input type="hidden" id="content" class="hidden" name="content" formControlName="content"
                        minLength="1" maxLength="16384" autocomplete="off" clrInput required />
                    <clr-control-helper>{{'validation.hint.none'|translate}}</clr-control-helper>
                    <clr-control-error></clr-control-error>
                </clr-select-container>
            </div>

            <div class="clr-col-12 mt-20">
                <ckeditor [editor]="editor" [config]="config" [data]="row?.content" (ready)="onReady($event)"
                    (change)="onEditorChange($event)" #$editor>
                </ckeditor>
            </div>

            <div class="clr-col-12" *ngIf="hasError(getFormCtrl('content'))">
                <div class="error active">
                    <ng-container *ngIf="hasErrorRequired(getFormCtrl('content'))">
                        {{'validation.messages.required'|translate}}
                    </ng-container>
                    <ng-container *ngIf="hasErrorMinlength(getFormCtrl('content'))">
                        {{'validation.messages.minLength'|translate:{ length: getMinLength(getFormCtrl('content')) } }}
                    </ng-container>
                    <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('content'))">
                        {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('content')) } }}
                    </ng-container>
                </div>
            </div>

            <div class="clr-col-12 mt-20">
                <admin-button (click$)="$modal?.open()" [options]="{ type: 'button', clazz: 'btn btn-primary' }"
                    [disabled]="hasFormError">
                    {{'common.submit'|translate}}
                </admin-button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #$footer>
    <admin-back-button></admin-back-button>
</ng-template>