<ngx-avatar
  [attr.class]="options?.clazz"
  [facebookId]="options?.facebookId"
  [googleId]="options?.googleId"
  [twitterId]="options?.twitterId"
  [vkontakteId]="options?.vkontakteId"
  [skypeId]="options?.skypeId"
  [gravatarId]="options?.gravatarId"
  [githubId]="options?.githubId"
  [src]="options?.src"
  [name]="options?.name"
  [value]="options?.value"
  [size]="options?.size"
  [initialsSize]="options?.initialsSize"
  [textSizeRatio]="options?.textSizeRatio"
  [cornerRadius]="options?.cornerRadius"
  [bgColor]="options?.bgColor"
  [fgColor]="options?.fgColor"
  [borderColor]="options?.borderColor"
  [round]="options?.round"
  [style]="options?.style"
  (clickOnAvatar)="options?.clickOnAvatar">
</ngx-avatar>
