<ng-container>
  <admin-card-layout>
    <ng-container role="header">
      <ng-container [ngTemplateOutlet]="$header"></ng-container>
    </ng-container>
    <ng-container role="description">
      <ng-container [ngTemplateOutlet]="$description"></ng-container>
    </ng-container>
    <ng-container role="title">
      <ng-container [ngTemplateOutlet]="$title"></ng-container>
    </ng-container>
    <ng-container role="text">
      <ng-container [ngTemplateOutlet]="$text"></ng-container>
    </ng-container>
    <ng-container role="footer">
      <ng-container [ngTemplateOutlet]="$footer"></ng-container>
    </ng-container>
  </admin-card-layout>
</ng-container>


<ng-template #$header>
  {{getPageText('header')}}
</ng-template>

<ng-template #$description>
  <p class="p8">{{getPageText('description')}}</p>
</ng-template>

<ng-template #$title>
  <p class="p2">{{getPageText('title')}}</p>
</ng-template>

<ng-template #$text>
  <form clrForm autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="clr-row">
      <div class="clr-col-12" *ngIf="error">
        <div class="error active" [innerHTML]="error?.message|nl2br"></div>
      </div>
      <div class="clr-col-12">
        <clr-input-container>
          <label class="" for="name">{{'common.name'|translate}}</label>
          <input type="text" [clrFocusOnViewInit]="true" id="name" name="name"
            [placeholder]="'placeholder.name'|translate" formControlName="name" autocomplete="off" minlength="4"
            maxlength="32" clrInput required />
          <clr-control-helper>{{'validation.hint.text'|translate}}</clr-control-helper>
          <clr-control-error *ngIf="hasError(getFormCtrl('name'))">
            <ng-container *ngIf="hasErrorRequired(getFormCtrl('name'))">
              {{'validation.messages.required'|translate}}
            </ng-container>
            <ng-container *ngIf="hasErrorMinlength(getFormCtrl('name'))">
              {{'validation.messages.minLength'|translate:{ length: getMinLength(getFormCtrl('name')) } }}
            </ng-container>
            <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('name'))">
              {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('name')) } }}
            </ng-container>
            <ng-container *ngIf="hasErrorAsync(getFormCtrl('name'))">
              {{'validation.messages.async'|translate}}
            </ng-container>
          </clr-control-error>
        </clr-input-container>
      </div>
      <div class="clr-col-12">
        <clr-input-container>
          <label class="" for="file">{{'common.img'|translate}}</label>
          <input type="file" (change)="onFileChanged($event)" [accept]="validFileTypes" id="file" name="file"
            [placeholder]="'placeholder.file'|translate" formControlName="file" #$file autocomplete="off" clrInput
            [attr.required]="hasRouteParamsId" />
          <clr-control-helper>{{'validation.hint.file'|translate}}</clr-control-helper>
          <clr-control-error *ngIf="hasError(getFormCtrl('file'))">
            <ng-container *ngIf="hasErrorRequired(getFormCtrl('file'))">
              {{'validation.messages.required'|translate}}
            </ng-container>
            <ng-container *ngIf="hasErrorValidFile(getFormCtrl('file'))">
              {{'validation.messages.file'|translate}}
            </ng-container>
            <ng-container *ngIf="hasErrorValidFileSize(getFormCtrl('file'))">
              {{'validation.messages.fileSize'|translate}}
            </ng-container>
            <ng-container *ngIf="hasErrorValidFileExtension(getFormCtrl('file'))">
              {{'validation.messages.fileExtension'|translate}}
            </ng-container>
            <ng-container *ngIf="hasErrorAsync(getFormCtrl('file'))">
              {{'validation.messages.async'|translate}}
            </ng-container>
          </clr-control-error>
        </clr-input-container>
      </div>
      <div class="clr-col-12 hidden">
        <clr-input-container>
          <label class="clr-sr-only" for="img">{{'common.img'|translate}}</label>
          <input type="hidden" id="img" name="img" [placeholder]="'placeholder.img'|translate" formControlName="img"
            autocomplete="off" clrInput required />
          <clr-control-helper>{{'validation.hint.none'|translate}}</clr-control-helper>
          <clr-control-error *ngIf="hasError(getFormCtrl('img'))">
            <ng-container *ngIf="hasErrorRequired(getFormCtrl('img'))">
              {{'validation.messages.required'|translate}}
            </ng-container>
          </clr-control-error>
        </clr-input-container>
      </div>
      <div class="clr-col-12">
        <clr-select-container>
          <label class="" for="status">{{'common.status'|translate}}</label>
          <select clrSelect id="status" name="status" formControlName="status" [compareWith]="defaultCompareWith"
            required>
            <option *ngIf="!hasRouteParamsId" [ngValue]="null">{{'common.pleaseSelect'|translate}}</option>
            <option *ngFor="let status of statuses" [ngValue]="status">{{status|status:'translate'}}
            </option>
          </select>
          <clr-control-helper>{{'validation.hint.select'|translate}}</clr-control-helper>
          <clr-control-error>
            <ng-container *ngIf="hasErrorRequired(getFormCtrl('status'))">
              {{'validation.messages.required'|translate}}</ng-container>
          </clr-control-error>
        </clr-select-container>
      </div>
      <div class="clr-col-12">
        <admin-button (click$)="onSubmit()" [options]="{ type: 'button', clazz: 'btn btn-primary' }"
          [disabled]="hasFormError">
          {{'common.submit'|translate}}
        </admin-button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #$footer>
  <admin-back-button></admin-back-button>
</ng-template>