<ng-container *ngIf="hasRouteParamsId; else $inDatagrid">
    <admin-card-layout>
        <ng-container role="header">
            <ng-container [ngTemplateOutlet]="$header"></ng-container>
        </ng-container>
        <ng-container role="description">
            <ng-container [ngTemplateOutlet]="$description"></ng-container>
        </ng-container>
        <ng-container role="title">
            <ng-container [ngTemplateOutlet]="$title"></ng-container>
        </ng-container>
        <ng-container role="text">
            <ng-container [ngTemplateOutlet]="$text"></ng-container>
        </ng-container>
        <ng-container role="footer">
            <ng-container [ngTemplateOutlet]="$footer"></ng-container>
        </ng-container>
    </admin-card-layout>
</ng-container>
<ng-template #$inDatagrid>
    <ng-container [ngTemplateOutlet]="$text"></ng-container>
</ng-template>


<ng-template #$header>
    {{getPageText('header')}}
</ng-template>

<ng-template #$description>
    <p class="p8">{{getPageText('description')}}</p>
</ng-template>

<ng-template #$title>
    <p class="p2">{{getPageText('title')}}</p>
</ng-template>

<ng-template #$text>
    <clr-stack-view class="mb-10">
        <clr-stack-header>
            <p class="p8 mt-10 mb-10">{{getPageText('content.1')}}</p>
        </clr-stack-header>
        <clr-stack-block>
            <clr-stack-label>{{'common.id'|translate}}</clr-stack-label>
            <clr-stack-content>{{row?.id}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{'common.categoryId'|translate}}</clr-stack-label>
            <clr-stack-content>{{row?.category?.name}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{'common.name'|translate}}</clr-stack-label>
            <clr-stack-content>{{row?.name}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{'common.price'|translate}}</clr-stack-label>
            <clr-stack-content class="text-right">{{row?.price|number}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{'common.remarks'|translate}}</clr-stack-label>
            <clr-stack-content>
                <div class="long-text-wrapper" [innerHTML]="row?.remarks|nl2br"></div>
            </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{'common.status'|translate}}</clr-stack-label>
            <clr-stack-content>
                <span [class]="row?.status|status:'label'">
                    <admin-icon [options]="{ size: 12, shape: row?.status|status:'icon' }"></admin-icon>
                    {{row?.status|status:'translate'}}
                </span>
            </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{'common.createdAt'|translate}}</clr-stack-label>
            <clr-stack-content>{{row?.createdAt|moment}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{'common.updatedAt'|translate}}</clr-stack-label>
            <clr-stack-content>{{row?.updatedAt|moment}}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-view>
</ng-template>

<ng-template #$footer>
    <admin-back-button></admin-back-button>
</ng-template>