<form clrForm autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="clr-row">
    <div class="clr-col-12" *ngIf="error">
      <div class="error active" [innerHTML]="error?.message|nl2br"></div>
    </div>
    <div class="clr-col-12">
      <clr-input-container>
        <label class="" for="username">{{'common.username'|translate}}</label>
        <input type="text" id="username" name="username" [placeholder]="'placeholder.username'|translate"
          formControlName="username" autocomplete="off" minlength="4" maxlength="16" clrInput required readonly />
        <clr-control-helper>{{'validation.hint.alphaNum'|translate}}</clr-control-helper>
        <clr-control-error *ngIf="hasError(getFormCtrl('username'))">
          <ng-container *ngIf="hasErrorRequired(getFormCtrl('username'))">
            {{'validation.messages.required'|translate}}
          </ng-container>
          <ng-container *ngIf="hasErrorMinlength(getFormCtrl('username'))">
            {{'validation.messages.minLength'|translate:{ length: getMinLength(getFormCtrl('username')) } }}
          </ng-container>
          <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('username'))">
            {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('username')) } }}
          </ng-container>
          <ng-container *ngIf="hasErrorAsync(getFormCtrl('username'))">
            {{'validation.messages.async'|translate}}
          </ng-container>
        </clr-control-error>
      </clr-input-container>
    </div>
    <div class="clr-col-12">
      <clr-password-container>
        <label class="" for="password">{{'common.password'|translate}}</label>
        <input type="password" id="password" name="password" [placeholder]="'placeholder.password'|translate"
          formControlName="password" autocomplete="off" minlength="6" maxlength="16" clrPassword required />
        <clr-control-helper>{{'validation.hint.alphaNum'|translate}}</clr-control-helper>
        <clr-control-error *ngIf="hasError(getFormCtrl('password'))">
          <ng-container *ngIf="hasErrorRequired(getFormCtrl('password'))">
            {{'validation.messages.required'|translate}}
          </ng-container>
          <ng-container *ngIf="hasErrorMinlength(getFormCtrl('password'))">
            {{'validation.messages.minLength'|translate:{ length: getMinLength(getFormCtrl('password')) } }}
          </ng-container>
          <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('password'))">
            {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('password')) } }}
          </ng-container>
          <ng-container *ngIf="hasErrorAsync(getFormCtrl('password'))">
            {{'validation.messages.async'|translate}}
          </ng-container>
        </clr-control-error>
      </clr-password-container>
    </div>
    <div class="clr-col-12">
      <clr-password-container>
        <label class="" for="confirmPassword">{{'common.confirmPassword'|translate}}</label>
        <input type="password" id="confirmPassword" name="confirmPassword"
          [placeholder]="'placeholder.confirmPassword'|translate" formControlName="confirmPassword" autocomplete="off"
          minlength="6" maxlength="16" clrPassword required />
        <clr-control-helper>{{'validation.hint.confirm'|translate}}</clr-control-helper>
        <clr-control-error *ngIf="hasError(getFormCtrl('confirmPassword'))">
          <ng-container *ngIf="hasErrorRequired(getFormCtrl('confirmPassword'))">
            {{'validation.messages.required'|translate}}
          </ng-container>
          <ng-container *ngIf="hasErrorMinlength(getFormCtrl('confirmPassword'))">
            {{'validation.messages.minLength'|translate:{ length: getMinLength(getFormCtrl('confirmPassword')) } }}
          </ng-container>
          <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('confirmPassword'))">
            {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('confirmPassword')) } }}
          </ng-container>
          <ng-container *ngIf="hasErrorAsync(getFormCtrl('confirmPassword'))">
            {{'validation.messages.async'|translate}}
          </ng-container>
          <ng-container *ngIf="hasErrorSamePassword(getFormCtrl('confirmPassword'))">
            {{'validation.messages.isSamePassword'|translate}}
          </ng-container>
        </clr-control-error>
      </clr-password-container>
    </div>
  </div>
</form>