:host {
  span.clr-col-2 {
    width: auto !important;
    flex: 0 !important;
    font-weight: 500 !important;
    margin-top: 1.35rem !important;
  }
  label {
    flex: 0 !important;
  }
}
