<ng-container>
    <admin-card-layout>
        <ng-container role="header">
            <ng-container [ngTemplateOutlet]="$header"></ng-container>
        </ng-container>
        <ng-container role="description">
            <ng-container [ngTemplateOutlet]="$description"></ng-container>
        </ng-container>
        <ng-container role="title">
            <ng-container [ngTemplateOutlet]="$title"></ng-container>
        </ng-container>
        <ng-container role="text">
            <ng-container [ngTemplateOutlet]="$text"></ng-container>
        </ng-container>
        <ng-container role="footer">
            <ng-container [ngTemplateOutlet]="$footer"></ng-container>
        </ng-container>
    </admin-card-layout>
</ng-container>

<ng-template #$header>
    {{getPageText('header')}}
</ng-template>

<ng-template #$description>
    <p class="p8">{{getPageText('description')}}</p>
</ng-template>

<ng-template #$title>
    <p class="p2">{{getPageText('title')}}</p>
</ng-template>

<ng-template #$text>
    <form clrForm autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="clr-row">
            <div class="clr-col-12" *ngIf="error">
                <div class="error active" [innerHTML]="error?.message|nl2br"></div>
            </div>
            <div class="clr-col-12 hidden">
                <clr-input-container>
                    <label class="" for="name">{{'common.name'|translate}}</label>
                    <input type="text" [clrFocusOnViewInit]="true" id="name" name="name"
                        [placeholder]="'placeholder.name'|translate" formControlName="name" autocomplete="off"
                        minlength="4" maxlength="16" clrInput required readonly />
                    <clr-control-helper>{{'validation.hint.alphaNum'|translate}}</clr-control-helper>
                    <clr-control-error *ngIf="hasError(getFormCtrl('name'))">
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('name'))">
                            {{'validation.messages.required'|translate}}
                        </ng-container>
                        <ng-container *ngIf="hasErrorMinlength(getFormCtrl('name'))">
                            {{'validation.messages.minLength'|translate:{ length: getMinLength(getFormCtrl('name'))
                            } }}
                        </ng-container>
                        <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('name'))">
                            {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('name'))
                            } }}
                        </ng-container>
                    </clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-12">
                <clr-select-container>
                    <label class="" for="currencyId">{{'common.currencyId'|translate}}</label>
                    <select clrSelect id="currencyId" name="currencyId" formControlName="currencyId"
                        [compareWith]="defaultCompareWith" required>
                        <option *ngFor="let item of currencies" [ngValue]="item?.id">
                            {{item?.name}}
                            ({{item?.symbol}})
                        </option>
                    </select>
                    <clr-control-helper>{{'validation.hint.select'|translate}}</clr-control-helper>
                    <clr-control-error>
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('currencyId'))">
                            {{'validation.messages.required'|translate}}</ng-container>
                    </clr-control-error>
                </clr-select-container>
            </div>
            <div class="clr-col-12">
                <clr-input-container>
                    <label class="" for="fee">{{'common.fee'|translate}}</label>
                    <input type="number" id="fee" name="fee" [placeholder]="'placeholder.fee'|translate"
                        formControlName="fee" autocomplete="off" step="0.0001" min="0.0001" max="1000000000" clrInput
                        required />
                    <clr-control-helper>{{'validation.hint.number'|translate}}</clr-control-helper>
                    <clr-control-error *ngIf="hasError(getFormCtrl('fee'))">
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('fee'))">
                            {{'validation.messages.required'|translate}}
                        </ng-container>
                        <ng-container *ngIf="hasErrorMin(getFormCtrl('fee'))">
                            {{'validation.messages.min'|translate:{ min: getMinNumber(getFormCtrl('fee')) } }}
                        </ng-container>
                        <ng-container *ngIf="hasErrorMax(getFormCtrl('fee'))">
                            {{'validation.messages.max'|translate:{ max: getMaxNumber(getFormCtrl('fee')) } }}
                        </ng-container>
                        <ng-container *ngIf="hasErrorDecimal(getFormCtrl('fee'))">
                            {{'validation.messages.isDecimal'|translate}}
                        </ng-container>
                    </clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-12">
                <clr-input-container>
                    <label class="" for="address">{{'common.address'|translate}}</label>
                    <input type="text" id="address" name="address" [placeholder]="'placeholder.address'|translate"
                        formControlName="address" autocomplete="off" minlength="1" maxlength="16" clrInput required />
                    <clr-control-helper>{{'validation.hint.text'|translate}}</clr-control-helper>
                    <clr-control-error *ngIf="hasError(getFormCtrl('address'))">
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('address'))">
                            {{'validation.messages.required'|translate}}
                        </ng-container>
                        <ng-container *ngIf="hasErrorMinlength(getFormCtrl('address'))">
                            {{'validation.messages.minLength'|translate:{ length: getMinLength(getFormCtrl('address'))
                            } }}
                        </ng-container>
                        <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('address'))">
                            {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('address'))
                            } }}
                        </ng-container>
                    </clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-12 hidden">
                <clr-textarea-container>
                    <label class="" for="config">{{'common.config'|translate}}</label>
                    <textarea type="text" id="config" name="config" [placeholder]="'placeholder.config'|translate"
                        formControlName="config" autocomplete="off" rows="5" cols="50" clrTextarea></textarea>
                    <clr-control-helper>{{'validation.hint.textarea'|translate}}</clr-control-helper>
                    <clr-control-error *ngIf="hasError(getFormCtrl('config'))">
                        <ng-container *ngIf="hasErrorMaxlength(getFormCtrl('config'))">
                            {{'validation.messages.maxLength'|translate:{ length: getMaxLength(getFormCtrl('config')) }
                            }}
                        </ng-container>
                    </clr-control-error>
                </clr-textarea-container>
            </div>

            <div class="clr-col-12 hidden">
                <clr-select-container>
                    <label class="" for="status">{{'common.status'|translate}}</label>
                    <select clrSelect id="status" name="status" formControlName="status"
                        [compareWith]="defaultCompareWith" required>
                        <option *ngFor="let status of statuses" [ngValue]="status">{{status|status:'translate'}}
                        </option>
                    </select>
                    <clr-control-helper>{{'validation.hint.select'|translate}}</clr-control-helper>
                    <clr-control-error>
                        <ng-container *ngIf="hasErrorRequired(getFormCtrl('status'))">
                            {{'validation.messages.required'|translate}}</ng-container>
                    </clr-control-error>
                </clr-select-container>
            </div>
            <div class="clr-col-12">
                <admin-button (click$)="onSubmit()" [options]="{ type: 'button', clazz: 'btn btn-primary' }"
                    [disabled]="hasFormError">
                    {{'common.submit'|translate}}
                </admin-button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #$footer>
    <admin-back-button></admin-back-button>
</ng-template>