/* stylelint-disable */
@charset 'UTF-8';
@include exportsAs("theme") {
  $jsoneditor-base-color: hsl(0, 0%, 10%);

  html {
    &.dark-theme {
      @import "~@clr/ui/src/dark-theme";

      // ckeditor dark theme
      /* -- Reset ------------------------------------------------------------------------ */
      --ck-ui-component-min-height: 1.25rem;
      --ck-border-radius: #{$clr-global-borderradius};
      --ck-disabled-opacity: 0.5;

      /* -- Font ------------------------------------------------------------------------ */
      --ck-font-size-base: 0.75rem;
      --ck-font-face: Roboto, Sans-Serif;
      --ck-line-height-base: 1.25;
      --ck-font-size-tiny: 0.5rem;
      --ck-font-size-small: 0.75rem;
      --ck-font-size-normal: 1rem;
      --ck-font-size-big: 1.25rem;
      --ck-font-size-large: 1.5rem;

      /* -- Custom ------------------------------------------------------------------------ */
      --ck-custom-background: #{$clr-card-bg-color};
      --ck-custom-foreground: #{$clr-global-font-color};
      --ck-custom-border: #{$clr-card-border-color};
      --ck-custom-white: hsl(0, 0%, 100%);

      /* -- Base ------------------------------------------------------------------------ */
      --ck-color-base-foreground: var(--ck-custom-white);
      --ck-color-base-background: #{$clr-card-bg-color};
      --ck-color-base-border: #{$clr-card-border-color};
      --ck-color-base-action: #{$clr-forms-valid-color};
      --ck-color-base-text: #{$clr-global-font-color};
      --ck-color-base-focus: #{$clr-link-color};
      --ck-color-base-active: #{$clr-link-active-color};
      --ck-color-base-active-focus: #{$clr-link-hover-color};
      --ck-color-base-error: #{$clr-forms-invalid-color};

      /* -- Generic colors ------------------------------------------------------------------------ */
      // --ck-color-focus-border-coordinates: 208, 79%, 51%;
      --ck-color-focus-border: #{$clr-btn-danger-bg-color};
      --ck-color-focus-error-shadow: #{hslac($clr-forms-invalid-color, 0.3)};
      --ck-color-text: var(--ck-color-base-text);
      // --ck-color-focus-outer-shadow: hsl(207, 89%, 86%);
      // --ck-color-focus-disabled-shadow: hsla(209, 90%, 72%, 0.3);
      // --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.15);
      // --ck-color-shadow-drop-active: hsla(0, 0%, 0%, 0.2);
      // --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

      /* -- Focus ------------------------------------------------------------------------ */
      // --ck-focus-outer-shadow-geometry: 0 0 0 3px;
      // --ck-focus-outer-shadow: var(--ck-focus-outer-shadow-geometry)
      //   var(--ck-color-focus-outer-shadow);
      // --ck-focus-disabled-outer-shadow: var(--ck-focus-outer-shadow-geometry)
      //   var(--ck-color-focus-disabled-shadow);
      --ck-focus-error-outer-shadow: var(--ck-focus-outer-shadow-geometry)
        var(--ck-color-focus-error-shadow);
      --ck-focus-ring: 1px solid #{$clr-forms-focused-color};

      /* -- Shadow ------------------------------------------------------------------------ */
      // --ck-inner-shadow: 2px 2px 3px var(--ck-color-shadow-inner) inset;
      // --ck-drop-shadow: 0 1px 2px 1px var(--ck-color-shadow-drop);
      // --ck-drop-shadow-active: 0 3px 6px 1px var(--ck-color-shadow-drop-active);

      /* -- Spacing ------------------------------------------------------------------------ */
      // --ck-spacing-unit: 0.6rem;
      // --ck-spacing-large: calc(var(--ck-spacing-unit) * 1.5);
      // --ck-spacing-standard: var(--ck-spacing-unit);
      // --ck-spacing-medium: calc(var(--ck-spacing-unit) * 0.8);
      // --ck-spacing-small: calc(var(--ck-spacing-unit) * 0.5);
      // --ck-spacing-tiny: calc(var(--ck-spacing-unit) * 0.3);
      // --ck-spacing-extra-tiny: calc(var(--ck-spacing-unit) * 0.16);

      /* -- Buttons ------------------------------------------------------------------------------- */
      --ck-color-button-default-background: #{$clr-btn-default-outline-bg-color};
      --ck-color-button-default-hover-background: #{$clr-btn-default-outline-hover-color};
      --ck-color-button-default-active-background: #{$clr-btn-default-outline-hover-color};
      --ck-color-button-default-active-shadow: #{$clr-btn-default-outline-box-shadow-color};
      --ck-color-button-default-disabled-background: transparent; // #{$clr-btn-disabled-bg-color};

      --ck-color-button-on-background: #{$clr-btn-primary-bg-color};
      --ck-color-button-on-hover-background: #{$clr-btn-primary-hover-bg-color};
      --ck-color-button-on-active-background: #{$clr-btn-primary-hover-bg-color};
      --ck-color-button-on-active-shadow: #{$clr-btn-primary-box-shadow-color};
      --ck-color-button-on-disabled-background: transparent;

      --ck-color-button-action-background: #{$clr-btn-primary-bg-color};
      --ck-color-button-action-hover-background: #{$clr-btn-primary-hover-bg-color};
      --ck-color-button-action-active-background: #{$clr-btn-primary-hover-bg-color};
      --ck-color-button-action-active-shadow: #{$clr-btn-primary-box-shadow-color};
      --ck-color-button-action-disabled-background: transparent;
      --ck-color-button-action-text: #{$clr-btn-primary-color};

      --ck-color-switch-button-off-background: #{$clr-btn-success-disabled-color};
      --ck-color-switch-button-off-hover-background: #{$clr-btn-success-disabled-color};
      --ck-color-switch-button-on-background: #{$clr-btn-success-bg-color};
      --ck-color-switch-button-on-hover-background: #{$clr-btn-success-hover-bg-color};
      --ck-color-switch-button-inner-background: #{$clr-btn-success-hover-bg-color};
      --ck-color-switch-button-inner-shadow: #{$clr-btn-success-box-shadow-color};

      --ck-color-button-save: #{$clr-btn-success-bg-color};
      --ck-color-button-cancel: #{$clr-btn-danger-bg-color};

      /* -- Dropdown ------------------------------------------------------------------------------ */
      --ck-color-dropdown-panel-border: #{$clr-dropdown-border-color};
      --ck-color-dropdown-panel-background: #{$clr-dropdown-bg-color};

      /* -- Input --------------------------------------------------------------------------------- */
      --ck-color-input-background: transparent;
      --ck-color-input-border: #{$clr-forms-border-color};
      --ck-color-input-error-border: var(--ck-color-base-error);
      --ck-color-input-text: #{$clr-forms-text-color};
      --ck-color-input-disabled-background: transparent;
      --ck-color-input-disabled-border: #{$clr-forms-border-color};
      --ck-color-input-disabled-text: #{$clr-forms-text-disabled-color};

      /* -- List ---------------------------------------------------------------------------------- */
      --ck-color-list-background: #{$clr-card-bg-color};
      --ck-color-list-button-hover-background: #{$clr-global-hover-bg-color};
      --ck-color-list-button-on-background: #{$clr-dropdown-bg-color};
      --ck-color-list-button-on-background-focus: #{$clr-dropdown-bg-color};
      --ck-color-list-button-on-text: #{$clr-dropdown-text-color};

      /* -- Panel --------------------------------------------------------------------------------- */
      --ck-color-panel-background: #{$clr-card-bg-color};
      --ck-color-panel-border: #{$clr-card-border-color};

      /* -- Toolbar ------------------------------------------------------------------------------- */
      --ck-color-toolbar-background: #{$clr-accordion-header-background-color};
      --ck-color-toolbar-border: #{$clr-accordion-border-color};

      /* -- Tooltip ------------------------------------------------------------------------------- */
      --ck-color-tooltip-background: #{$clr-tooltip-background-color};
      --ck-color-tooltip-text: #{$clr-tooltip-color};

      /* -- Engine -------------------------------------------------------------------------------- */
      // --ck-color-engine-placeholder-text: hsl(0, 0%, 44%);

      /* -- Upload -------------------------------------------------------------------------------- */
      // --ck-color-upload-bar-background: hsl(209, 92%, 70%);

      /* -- Link -------------------------------------------------------------------------------- */
      --ck-color-link-default: #{$clr-link-color};
      --ck-color-link-selected-background: #{$clr-link-hover-color};
      --ck-color-link-fake-selection: #{$clr-global-selection-color};

      /* -- Widget -------------------------------------------------------------------------------- */
      // --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
      // --ck-color-widget-hover-border: hsl(43, 100%, 68%);
      // --ck-color-widget-editable-focus-background: var(--ck-custom-white);

      /* -- Image Caption -------------------------------------------------------------------------------- */
      // --ck-color-image-caption-background: hsl(0, 0%, 97%);
      // --ck-color-image-caption-text: hsl(0, 0%, 20%);

      /* -- Split Button -------------------------------------------------------------------------------- */
      --ck-color-split-button-hover-border: #{$clr-btn-default-outline-bg-color};
      --ck-color-split-button-hover-background: #{$clr-btn-default-outline-hover-color};

      /* -- Label -------------------------------------------------------------------------------- */
      --ck-color-labeled-field-label-background: #{$clr-card-bg-color};

      // jsoneditor
      .jsoneditor {
        border: 1px solid $clr-card-border-color !important;

        > .jsoneditor-menu {
          color: $clr-global-font-color !important;
          background-color: $clr-card-bg-color !important;
          border-bottom: 1px solid $clr-card-border-color !important;
          .jsoneditor-expand-all,
          .jsoneditor-expand-all + button {
            display: none !important;
          }
        }

        .jsoneditor-contextmenu {
          .jsoneditor-menu {
            > .jsoneditor-modes > button,
            > button {
              color: $jsoneditor-base-color !important;
              // color: $clr-btn-default-outline-color !important;
            }

            button {
              color: $jsoneditor-base-color !important;
              // color: $clr-btn-default-outline-color !important;
              background: $clr-btn-default-outline-bg-color !important;

              &:focus,
              &:hover {
                color: $jsoneditor-base-color !important;
                // color: $clr-btn-default-outline-hover-color !important;
                background-color: $clr-btn-default-outline-hover-bg-color !important;
              }

              &.jsoneditor-default {
                width: auto;
              }
            }
          }

          li {
            ul {
              box-shadow: none !important;
              // box-shadow: $clr-btn-default-outline-box-shadow-color;
            }
          }
        }
      }

      body {
        background: $clr-global-app-background !important;
        color: $clr-global-font-color;

        .login-wrapper {
          @include get-login-wrapper(
            "/assets/img/login-bg5.jpg",
            grayscale(90%)
          );
        }

        hr {
          background-color: $clr-card-bg-color !important;
          border-top: 1px solid $clr-card-border-color !important;
        }

        span.error,
        p.error,
        div.error {
          &.active {
            color: $clr-forms-invalid-color;
          }
        }

        @include get-joyride(
          (
            backdrop-background-color: $clr-modal-backdrop-color,
            backdrop-opacity: var(--clr-modal-backdrop-opacity, 0.85),
            arrow-color: $clr-card-bg-color,
            container-font-color: $clr-global-font-color,
            container-background-color: $clr-card-bg-color,
            container-box-shadow: $clr-card-box-shadow,
            container-border-radius: $clr-global-borderradius,
            header-font-weight: $clr-h4-font-weight,
            header-font-size: $clr-h4-font-size,
            header-font-color: $clr-h4-color,
            body-font-weight: $clr-p2-font-weight,
            body-font-size: $clr-p2-font-size,
            body-font-color: $clr-p2-color,
            footer-font-weight: $clr-p7-font-weight,
            footer-font-size: $clr-p7-font-size,
            footer-font-color: $clr-p7-color,
            close-icon-color: $clr-global-font-color,
          )
        );
      }
    }

    &.light-theme {
      .jsoneditor {
        border: 1px solid var(--clr-card-border-color) !important;

        > .jsoneditor-menu {
          color: var(--clr-btn-primary-color) !important;
          background-color: var(--clr-btn-primary-bg-color) !important;
          border-bottom: 1px solid var(--clr-btn-primary-border-color) !important;
          .jsoneditor-expand-all,
          .jsoneditor-expand-all + button {
            display: none !important;
          }
        }

        .jsoneditor-contextmenu {
          .jsoneditor-menu {
            > .jsoneditor-modes > button,
            > button {
              color: var(--clr-global-font-color) !important;
            }

            button {
              color: var(--clr-global-font-color) !important;
              background: var(--clr-btn-default-outline-bg-color) !important;

              &:focus,
              &:hover {
                color: var(--clr-global-font-color) !important;
                background-color: transparent !important;
              }

              &.jsoneditor-default {
                width: auto;
              }
            }
          }

          li {
            ul {
              box-shadow: none !important;
              // box-shadow: var(--clr-btn-default-outline-box-shadow-color);
            }
          }
        }
      }

      // .jsoneditor {
      //   border: 1px solid var(--clr-card-border-color) !important;
      // }

      // .jsoneditor-contextmenu .jsoneditor-menu button {
      //   color: hsl(0, 0, 100%) !important;
      //   background: var(--clr-btn-default-outline-bg-color) !important;
      // }

      // .jsoneditor-contextmenu .jsoneditor-menu button.jsoneditor-default {
      //   width: auto;
      // }

      // .jsoneditor-contextmenu .jsoneditor-menu li ul {
      //   box-shadow: var(--clr-card-box-shadow);
      // }

      // .jsoneditor-contextmenu .jsoneditor-menu button:focus,
      // .jsoneditor-contextmenu .jsoneditor-menu button:hover {
      //   color: hsl(0, 0, 100%) !important;
      //   background-color: var(--clr-btn-default-outline-hover-color) !important;
      // }

      // .jsoneditor-menu {
      //   color: var(--clr-global-font-color) !important;
      //   background-color: var(--clr-btn-primary-bg-color) !important;
      //   border-bottom: 1px solid var(--clr-card-border-color) !important;
      // }

      // .jsoneditor-menu > .jsoneditor-modes > button,
      // .jsoneditor-menu > button {
      //   color: hsl(0, 0, 100%) !important;
      // }

      body {
        background: var(--clr-global-app-background);

        .login-wrapper {
          @include get-login-wrapper(
            "/assets/img/login-bg3.jpg",
            grayscale(90%)
          );
        }

        hr {
          background-color: var(--clr-card-bg-color) !important;
          border-top: 1px solid var(--clr-card-border-color) !important;
        }

        div.error {
          &.active {
            color: var(--clr-forms-invalid-color);
          }
        }
      }
    }
  }
}
